TZ=Africa/Johannesburg
POSTGRES_DB=izakhono
POSTGRES_USER=izakhono
POSTGRES_PASSWORD=CHANGE_ME_LONG_RANDOM_PASSWORD
MINIO_ROOT_USER=izakhono
MINIO_ROOT_PASSWORD=CHANGE_ME_LONG_RANDOM_PASSWORD
GRAFANA_ADMIN_USER=izakhono
GRAFANA_ADMIN_PASSWORD=CHANGE_ME_LONG_RANDOM_PASSWORD
