NAV_PUBLIC_HOST=nav.izakhonoafrica.co.za
NAV_RUNTIME_ID=NAV-OWNED-01
NAV_RELEASE_ID=IZAKHONO-NAV-OWNED-v1
NAV_DATA_DIR=./runtime-data
NAV_HTTP_PORT=80
NAV_HTTPS_PORT=443
NAV_ENGINE_PORT=8788
NAV_ROUTER_THREADS=2
NOMINATIM_THREADS=4
NOMINATIM_WORKERS=2
NOMINATIM_SHM_SIZE=2gb
POSTGRES_SHARED_BUFFERS=2GB
POSTGRES_MAINTENANCE_WORK_MEM=4GB
POSTGRES_EFFECTIVE_CACHE_SIZE=8GB
NAV_ALLOWED_ORIGINS=https://nav.izakhonoafrica.co.za
NOMINATIM_PASSWORD=CHANGE-ME-BEFORE-FIRST-START
