NAV_RUNTIME_ID=NAV-RUNTIME-01
NAV_RUNTIME_CLASS=owned
NAV_RELEASE_ID=IZAKHONO-NAV-ENGINE-v1.0.0
NAV_ENGINE_PORT=8788
NAV_ROUTER_KIND=valhalla
NAV_ROUTER_URL=http://nav-router:8002
NAV_SEARCH_KIND=nominatim
NAV_SEARCH_URL=http://nav-search:8080
NAV_TILE_TEMPLATE=http://nav-tiles:8080/tiles/{z}/{x}/{y}.pbf
NAV_ALLOWED_ORIGINS=https://nav.izakhono.co.za
NAV_ALLOW_RESILIENCE=false
NAV_ROUTER_RESILIENCE_URL=
NAV_SEARCH_RESILIENCE_URL=
NAV_TILE_RESILIENCE_TEMPLATE=
